torch>=1.12.0+cu111
torchvision>=0.13.0
matplotlib>=3.4.0
opencv-python==4.7.0.72
open3d==0.13.0
numpy==1.23.5 
pyzmq==24.0.1
packaging>=22
setuptools==60.2.0
setuptools-scm==7.1.0
jupyter_client==7.4.9
jupyter_core==5.3.1
jupyterlab>=3.0.0,<4.0.0
ultralytics
easydict
cv_bridge